<div class="file-uploads">
                        <div class="file-uploads">
                            <div class="btn btn-info  no-border"> 
                                <span class="fa fa-folder-open icon"></span> 
                                <input type="file" id="fileuploadnearmiss"  name="files" multiple="" data-input="false" data-buttonText="Your label here." onchange="angular.element(this).scope().selectFile(this.files)">
                                <!-- <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->
                            </div>
                        </div>
                    </div>
					<div>
                       
                            
                            <button type="button" style="width: 8% !important" class="btn btn-info btn-sm m-r-10 m-b-10 button pull-right" >Send</button>
							<button type="button" style="width: 8% !important"  class="btn btn-success btn-sm m-r-10 m-b-10 button pull-right" data-ng-click="uploadFile();">Save</button>
                            <button type="button" style="width: 8% !important;display:none" id="approvebuttononhigh" class="btn btn-info btn-sm m-r-10 m-b-10 button" onclick="myFunction3()">Approve</button>
                        
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 form-control-label" align="right">Assessed By:</label>
                        <label class="col-sm-2 form-control-label" >Robinson</label>
                        <label class="col-sm-2 form-control-label" align="right">Submitted By:</label>
                        <label class="col-sm-2 form-control-label" >Edwin</label>						

                    </div>	