<div class="row marginalign"> 
                                <h6 class="col-sm-12 form-control-label  text-left" id="idreject" style="padding:0px;">SECTION 6: After completion of Job</h6>  
                     </div>
                   					
                   
                    <div class="form-group row" id="idreject1" >
                        <label class="col-sm-2 form-control-label" >Time of Commencement:</label>
                        <div class="input-group date col-sm-3" id="reportdate1" data-provide="datepicker">
                                            <input type="text" class="form-control" name="jobcommencedate" data-ng-model="riskContentItem.riskMaster.jobCommenceDate" >
                                            <div class="input-group-addon">
                                                <i class="fa fa-th"></i>
                                            </div>
                        </div>
                        <label class="col-sm-2 form-control-label">Time of Completion:</label>  
                        <div class="input-group date col-sm-3" id="reportdate2" data-provide="datepicker">
                                            <input type="text" class="form-control" name="jobCompleeteddate" data-ng-model="riskContentItem.riskMaster.jobCompletedDate">
                                            <div class="input-group-addon">
                                                <i class="fa fa-th"></i>
                                            </div>
                        </div>                              

                    </div>
                    <div  id="idreject2" class="form-group row">   
                        <label class="col-sm-3 form-control-label" align="left">Were the Risk Control measures adequate?</label>
                        <div class="col-sm-2" >
                            <label class="c-input c-radio">
                                <input name="radio-stacked" value="Y" type="radio" onclick="showtextradio(this.value, 'shartextid');"><span class="c-indicator c-indicator-warning"></span>  <span class="c-input-text"> Yes </span> 
                            </label>
                            <label class="c-input c-radio">
                                <input name="radio-stacked" value="N" type="radio" onclick="showtextradio(this.value, 'shartextid');"><span class="c-indicator c-indicator-danger"></span>  <span class="c-input-text"> No </span> 
                            </label>
                        </div>
                    </div>
                    <div id="idreject3" class="form-group row">
                        <label class="col-sm-2 form-control-label" >Comments:</label>
                        <div class="col-sm-6" >
                            <textarea class="form-control" id="exampleTextarea" rows="2" cols="5" data-ng-model="riskContentItem.riskMaster.jobComments"></textarea>
                        </div>  
                    </div>
					 <div>
					
                                <button type="button" style="width: 8% !important" class="btn btn-info btn-sm m-r-10 m-b-10 button pull-right" data-ng-click="submitData();">Send</button>
                             <button type="button" style="width: 8% !important"  class="btn btn-success btn-sm m-r-10 m-b-10 button pull-right">Save</button>
                        </div>