<div class="row marginalign"> 
                                <h6 class="col-sm-12 form-control-label text-left">SECTION 2 : Risk Control/Mitigation Plan</h6>  
                     </div>
                    
                    <div class="form-group row">
                        <div class="col-sm-12" >
                            <table  class="table table-hover table-striped table-bordered" cellspacing="0">
                                <tbody>
                                <center>
                                    <tr class="colorgrid">

                                        <td class="colorgrid" rowspan="2"><b>Hazard No</b></td>
                                        <td class="colorgrid" rowspan="2"><b>Ships Additional Control Measures</b></td>
                                        <td class="colorgrid" colspan="3" ><b> <center>Initial Risk </center></b></td>
                                        <td class="colorgrid" rowspan="2"></td>
                                    	<td class="colorgrid" rowspan="2">Control Measures</td>
                                    </tr>
                                    <tr>
                                        <td class="colorgrid"><b>Frequency (F)</b></td>
                                        <td class="colorgrid"><b>Consequences (C)</b></td>
                                        <td class="colorgrid"><b>Risk Level (F)*(C)</b></td>
                                    </tr>
                                    <tr data-ng-repeat="controlAction in riskContentItem.controlRiskList track by $index">
                                        <td>1</td>
                                        <td>                                                
                                            <input type="text" class="form-control" data-ng-model="controlAction.controlMeasure">
                                        </td>

                                        <td>
                                            <select id="fa_he_td3" class="form-control"  data-ng-model="controlAction.frequency" data-ng-change="calculateRisk(controlAction);">
                                                <option>N/A</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select id="fa_he_td4" class="form-control"  data-ng-model="controlAction.consequence" data-ng-change="calculateRiskControl(controlAction);">
                                                <option>N/A</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                        </td>
                                        <td id="fa_health")>{{controlAction.riskLevel}}</td>
                                  <td width="8% !important" >
										<button type="button" class="btn btn-success label btn btn-success label-rounded"><i class="fa fa-plus"></i></button>    
    <button type="button" class="btn btn-danger label btn btn-danger label-rounded" ><i class="fa fa-minus"></i></button></button></td>
    <td><button type="button" class="btn btn-success btn-sm m-r-10 m-b-10 button pull-right" >Add</button></td>
    
                                    </tr>
                                </center>
                                </tbody>
                            </table>
                        </div>
                    </div>