<div class="row marginalign"> 
                                <h6 class="col-sm-12 form-control-label  text-left" style="padding:0px;">SECTION 5: Approval Process</h6>  
                     </div>
                    <div>

                            <button type="button" class="btn btn-warning btn-sm m-r-10 m-b-10 button pull-right" onclick="myFunction()">Reviewed</button>
                            <button type="button" class="btn btn-primary btn-sm m-r-10 m-b-10 button pull-right" onclick="myFunction1()">Approved</button>
                            <button type="button" class="btn btn-danger btn-sm m-r-10 m-b-10 button pull-right" onclick="myFunction2()">Rejected</button>
                      
                    </div>
                    <div class="form-group row">
						<div class="col-sm-8">
						<label class="col-sm-4 form-control-label" >Reviewer Name:</label>
                        <label class="col-sm-2 form-control-label" >Robinson</label>
                        <label class="col-sm-4 form-control-label" >Approver Name:</label>
                        <label class="col-sm-2 form-control-label" >Dominic</label>		
                        <label class="col-sm-4 form-control-label" >Reviewer Rank:</label>
                        <label class="col-sm-2 form-control-label" >MSI</label>	
                        <label class="col-sm-2 form-control-label" ></label>
                        <label class="col-sm-2 form-control-label" ></label>
                        <label class="col-sm-4 form-control-label" >Approver Rank:</label>
                        <label class="col-sm-2 form-control-label" >MSI</label>
                        <label class="col-sm-4 form-control-label" >Reviewed Date:</label>
                        <label class="col-sm-2 form-control-label" >12/10/2016</label>
                        <label class="col-sm-2 form-control-label" ></label>
                        <label class="col-sm-2 form-control-label" ></label>
                        <label class="col-sm-4 form-control-label" >Approved Date:</label>
                        <label class="col-sm-2 form-control-label" >15/10/2016</label>
						</div>
						
						<div class="col-sm-4">
						
						</div> 
					  </div>	