					<div ng-controller="riskMasterDirectiveController">
					  	
					  	<div risk-master-directive></div>
                     
					 </div>
					<hr>
					<div ng-controller="intialRiskDirectiveController">
					  	
					  	<div intial-risk-directive></div>
                      
					 </div>
					 
					 <div ng-controller="riskControlDirectiveController">
					  	<div risk-control-directive></div>
                      
					  </div>
                    <div ng-controller="fileUploadDirectiveController">
					  	<div file-upload-directive></div>
                      
					  </div>
                    <div class="row marginalign"> 
					
                                <h6 class="col-sm-12 form-control-label text-left" id="showfields" style="padding:0px;display:none">SECTION 3 : Company's Risk Assessment Review</h6>  
                     </div>
                  
                    <div class="form-group row" id="showfields1" style="display:none">
                        <center>
                            <div class="col-sm-12" >
                                <table  class="table table-hover table-striped table-bordered" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td class="colorgrid" rowspan="2"><b>Hazard No</b></td>
                                            <td class="colorgrid" rowspan="2"><b>Company's Additional Control Measures</b></td>
                                            <td class="colorgrid" colspan="3"><b> <center>Initial Risk </center></b></td>
                                            <td class="colorgrid" rowspan="2"></td>
                                        </tr>
                                        <tr>
                                            <td class="colorgrid"><b>Frequency (F)</b></td>
                                            <td class="colorgrid"><b>Consequences (C)</b></td>
                                            <td class="colorgrid"><b>Risk Level (F)*(C)</b></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>                                                
                                                <input type="text" class="form-control">
                                            </td>
                                            <td>
                                                <select id="fa_he_td11" class="form-control"  onchange="calculateRisk('fa_he_td12', 'fa_he_td11', 'fa_environment')">
                                                    <option>N/A</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="fa_he_td12" class="form-control"  onchange="calculateRisk('fa_he_td12', 'fa_he_td11', 'fa_environment')">
                                                    <option>N/A</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </td>
                                            <td id="fa_environment">N/A</td>
                                            <td width="8% !important" ><button type="button" class="btn btn-success label btn btn-success label-rounded"><i class="fa fa-plus"></i></button>    
											<button type="button" class="btn btn-danger label btn btn-danger label-rounded"><i class="fa fa-minus"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </center>
                    </div>
										<div class="row marginalign"> 
                                <h6 class="col-sm-12 form-control-label  text-left" id="showfields2" style="padding:0px;display:none">SECTION 4: Company's Comment and/or instruction for the reduction of Risk of Hazard</h6>  
                     </div>
                  
                    
                    <div class="form-group row" id="showfields3" style="display:none">
                        <label class="col-sm-2 form-control-label">Comments: </label>
                        <div class="col-sm-10" >
                            <textarea class="form-control" id="exampleTextarea" rows="2" cols="5"></textarea>
                        </div>  
                    </div> 
					<hr></hr>
					 <div ng-controller="riskApproveDirectiveController">
					  	<div risk-approve-directive></div>
                      
					  </div>						
                   
                    <hr></hr>
					<div ng-controller="jobCompletionDirectiveController">
					  	<div job-completion-directive></div>
                      
					  </div>
					
						<div></div>
						<hr></hr>
						
				
					
					<br></br>
					<br></br>
				<div></div>	

<div class="footer">
<div>
<label class="col-sm-4 form-control-label text-left" ><b>Revision No : </b> 2.5, Date:01 April 16 </label>
</div>
    <div class="row">
        <div class="col-xs-12">
		
            <a target="_blank">&#9400;2016.Solverminds Solutions & Technologies Pvt.Ltd. </a><a  target="_blank">All Rights Reserved.</a>
        </div>
    </div>
</div>