<div class="col-sm-6">
                                    <select id="fa_he_td1" class="form-control" data-ng-model="selectedHoD" data-ng-change="updateHod();">
                                        <option data-ng-repeat="head in hodList"> 
                                        {{head.rankDesc}}
                                        </option>
                                        
                                    </select>
                                </div>
                                