<div class="col-sm-6">
                                    <select id="fa_he_td1" class="form-control" data-ng-model="selectedPerson" data-ng-change="update()">
                                        <option data-ng-repeat="person in personList"> 
                                        {{person.name}}
                                        </option>
                                        
                                    </select>
                                </div>
                                