<div class="col-sm-6">
                                    <select id="fa_he_td1" class="form-control" data-ng-model="selectedLocation" data-ng-change="updateLocation();">
                                        <option data-ng-repeat="location in locationList"> 
                                        {{location.locationDesc}}
                                        </option>
                                        
                                    </select>
                                </div>
                                